<!-- Container -->
<div id="form-container">

    <!-- Form -->
    

         <div class="searh-bar-container">
        
         <div class="form-group">
             <input type="text" class="form-control" placeholder="What are you looking for?" [(ngModel)]="search" (click) = "onSubmit()"> 
         </div>
            <button type="submit" class="btn" id="search-btn"><fa-icon [icon]="faSearch" class="prepend-icon icon" (click) = "onSubmit()"></fa-icon></button>
        </div>
   

    <div class="card-body">
        <div class="col">
          <div class="card-body">
            <div id="row" class="row">
              <!--<label *ngIf="movies.length == 0" id="default-info">There is no results for your search</label>-->
              <div id="col" class="col-4" >
                <div class="card" id="card-playlist" *ngFor="let movie of movies, index as i">
                  <img class="card-img" src="{{movie.results[i].results[i].image}}" alt="Movie poster" (click)="activateAddButton(i)">
                  <div class="card-body">
                    <h5 class="card-title">{{movie.results[1].results[i].title}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



</div>