<nav>
    <ul class="menu">
        <li><a class="menu-item" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a class="menu-item" routerLink="/catalog" routerLinkActive="active">Search movies</a></li>
        <li><a class="menu-item" routerLink="/playlists" routerLinkActive="active">Playlists</a></li>
        <li><a class="menu-item" routerLink="/myprofile" routerLinkActive="active">My profile</a></li>
        <li><a class="menu-item" routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a class="menu-item" routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
</nav>