<!-- Container -->
<div id="form-container">

    <!-- Title-->
    <h1>REGISTER</h1>

    <!-- Form -->
    <form [formGroup]="registerForm"(ngSubmit)="onSubmit()" >

        <!-- Username Input Group -->
        <div class="form-group">
            <!--input--><input type="text" class="form-control" formControlName="username" placeholder="Username *">
            <!--user-icon--><fa-icon [icon]="faUser" class="prepend-icon icon"></fa-icon>
            <!--error-message--><p class="alert-warning alert-danger fade show error-msg" *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">Please enter your username.</p>
        </div>

        <!-- Email Input Group -->
        <div class="form-group">
            <!--input--><input type="text" class="form-control" formControlName="email" placeholder="Email *">
            <!--email-icon--><fa-icon [icon]="faUser" class="prepend-icon icon"></fa-icon>
            <!--error-message--><p class="alert-warning alert-danger fade show error-msg" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">Please enter your email.</p>
        </div>
           
        <!-- Password Input Group -->
        <div class="form-group">
            <!--input--><input class="form-control" formControlName="password" placeholder="Password *" [type]="fieldTextType ? 'text' : 'password'">    
            <!--lock-icon--><fa-icon [icon]="faLock" class="prepend-icon icon"></fa-icon>
            <!--eye-icon--><fa-icon [icon]="faPasswordIcon" class="append-icon icon" (click)="toggleFieldTextType()"></fa-icon>
            <!--error-message--><p class="alert-warning alert-danger fade show error-msg" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">Please enter your password.</p>
        </div>

        <!-- Password Confirmation Input Group -->
        <div class="form-group">
            <!--input--><input class="form-control" formControlName="passwordConfirmation" placeholder="Password Confirmation *" [type]="fieldTextType2 ? 'text' : 'password'">    
            <!--lock-icon--><fa-icon [icon]="faLock" class="prepend-icon icon"></fa-icon>
            <!--eye-icon--><fa-icon [icon]="faPasswordIcon2" class="append-icon icon" (click)="toggleFieldTextType2()"></fa-icon>
            <!--error-message--><p class="alert-warning alert-danger fade show error-msg" *ngIf="registerForm.controls['passwordConfirmation'].invalid && (registerForm.controls['passwordConfirmation'].dirty || registerForm.controls['passwordConfirmation'].touched)">Please enter your password confirmation.</p>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">SUBMIT</button>

    </form>
</div>