<div class="container">    
    
    <div class="input-group">
        <div class="input-group-text" id="input-button">
            <i class="bi bi-plus-circle-fill fa-lg" id="add" type="button" title="Add" (click)="createPlaylist()"></i>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingTextarea" type="text" placeholder="Introduce new task" [(ngModel)]="title"  (keyup.enter)="createPlaylist()">
            <label for="floatingTextarea">Introduce playlist name</label>
        </div>
    </div>
    <br />
    
    <div class="card shadow" >
        <div class="card-header">
            <h3>Your playlists</h3>
        </div>
        <div class="card-body">
            <div id="row" class="row">
                <label *ngIf="playlists.length == 0" id="default-info">You haven't created any playlists yet </label>
                <div id="col" class="col-2" *ngFor="let playlist of playlists, index as i">
                    <div class="card" >
                        <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{playlist.title}}</h5>
                        </div>
                 
                        <div class="card-body">
                            <button class="btn btn-light" id="delete" title="Delete" (click)="deletePlaylist(i)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>

